<form action="/add" method="POST">
  <input type="text" name="title" placeholder="Add task..."/>
  <input id="is-public" type="checkbox" name="public"/>
  <label for="is-public">Public</label>
  <button>Add task</button>
</form>
