<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Node todo list</title>
    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
  <header class="app-header">
    Node todo list
    <a href="/manage">Manage</a>
    <a href="/">List</a>
  </header>
  <main class="container">
    {{{body}}}
  </main>
</body>
</html>
